* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    background-image: url('https://cdn.pixabay.com/photo/2020/03/26/10/58/norway-4970080_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.boards {
    display: flex;
    width: 100%;
}

.boards__item {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    max-width: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 15px;
    padding: 10px;
    transition: .3s all ease;
    border-radius: 3px;
    position: relative;
}

.title {
    padding: 5px;
    color: #fff;
}

.title:focus {
    outline: 1px solid rgba(168, 168, 168, .45);
}

.list {
    min-height: 40px;
}

.list__item {
    background-color: #efefef;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 4px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border: none;
}

.form {
    border-radius: 3px;
    margin-top: auto;
    display: none;
}
.textarea {
    resize: none;
    height: 60px;
    border-radius: 3px;
    background-color: #fff;
    padding: 10px;
    width: 100%;
}

.textarea:focus {
    outline: none;
}

.buttons {
    display: flex;
}

.add__item-btn {
    background-color: rgba(13, 136, 218);
    border: none;
    height: 35px;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 100%;
}

.cancel__item-btn {
    padding: 0 10px;
    background-color: rgb(160, 17, 12);
    border: none;
    height: 35px;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    margin-left: auto;
    flex-shrink: 0;
}

.add__btn {
    height: 30px;
    background-color: rgba(155, 155, 155, .3);
    border-radius: 3px;
    margin-top: 5px;
    display: flex;
    font-size: 12px;
    align-items: center;
    padding-left: 10px;
    color: #fff;
    cursor: pointer;
}

.add__btn span {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}

.button {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 130, 204, .62);
    border: none;
    width: 150px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
}

.button:hover {
    background-color: rgba(19, 130, 204, .9);
}